<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/swiper-bundle.min.css" rel="stylesheet" />


    <!--DataTable style-->
    <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />


</head>
<body>
    <header class="Header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="  background-color: #032928 !important">
            <div class="container">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Books" asp-action="Index">BookStore</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Addresses" asp-action="Index">Address</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Books" asp-action="Index">Book</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Buyers" asp-action="Index">Buyer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Cards" asp-action="Index">Card</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Reviews" asp-action="Index">Review</a>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="SaveForLaters" asp-action="Index">SaveForLater</a>
                        </li>

                    </ul>

                </div>
                <a class="card-header-pills"></a>
                <span class="nav-item nav-link text-light">
                    Login
                    <a class="nav-link text-light fas fa-user  float-right link-list-item " style="margin-right:auto !important; color:dimgray" asp-area="" asp-controller="ShoppingCarts" asp-action="Index"></a>

                </span>
                <span class="nav-item nav-link text-light">
                    Cart
                    <a class="nav-link text-light fas fa-shopping-cart  float-right link-list-item" style="margin-right:auto !important; color:dimgray" asp-area="" asp-controller="ShoppingCarts" asp-action="Index" ></a>

                </span>

            </div>
        </nav>
       
            <div id="carousel" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Images/WebSiteImages/Untitled-1 wide.jpg" class="d-block w-100" alt="..." height="80">
                    </div>

                    <div class="carousel-item">
                        <img src="~/Images/WebSiteImages/Untitled-2wide.jpg" class="d-block w-100" alt="..." height="80">
                    </div>
                </div>
            </div>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div>
        <footer class="footer  nav-link text-light" style="background-color: #032928">
            &copy; 2020 - BookStore - <a  class="nav-item text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!--DataTable scripts-->
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" data-auto-replace-svg="nest"></script>
    <script src="~/js/swiper-bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
